body {
    margin: 0px;
    padding: 0px;
    font-family: "Edu NSW ACT Foundation", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    animation-delay: 30s;
}
#wrapper{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)), url("image/gaming.gif");
    background-position: center;
    background-size:cover;
    height: 100vh;
    text-align: center;
}

/*animation*/
.sp-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
  }
  
  .sp-content h2 {
    margin-bottom: 10px;
  }
  
  .sp-content a {
    margin-top: 500px; /* Add margin between text and button */
  }
  
  .hidden {
    display: none;
  }
  
  h1.main, p.demos {
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
  }
  .sp-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: -webkit-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
    background: -moz-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
    background: -ms-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
    background: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
  }

  .sp-container h2 {
    position: absolute;
    top: 50%;
    line-height: 100px;
    height: 90px;
    margin-top: -50px;
    font-size: 90px;
    width: 100%;
    text-align: center;
    color: transparent;
    -webkit-animation: blurFadeInOut 3s ease-in backwards;
    -moz-animation: blurFadeInOut 3s ease-in backwards;
    -ms-animation: blurFadeInOut 3s ease-in backwards;
    animation: blurFadeInOut 3s ease-in backwards;
  }
  .sp-container h2.frame-1 {
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -ms-animation-delay: 0s;
    animation-delay: 0s;
  }
  .sp-container h2.frame-2 {
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s;
  }
  .sp-container h2.frame-3 {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
  }
  .sp-container h2.frame-4 {
    font-size: 200px;
    -webkit-animation-delay: 9s;
    -moz-animation-delay: 9s;
    -ms-animation-delay: 9s;
    animation-delay: 9s;
  }
  .sp-container h2.frame-5 {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
    color: transparent;
    text-shadow: 0px 0px 1px #fff;
  }
  .sp-container h2.frame-5 span {
    -webkit-animation: blurFadeIn 3s ease-in 12s backwards;
    -moz-animation: blurFadeIn 1s ease-in 12s backwards;
    -ms-animation: blurFadeIn 3s ease-in 12s backwards;
    animation: blurFadeIn 3s ease-in 12s backwards;
    color: transparent;
    text-shadow: 0px 0px 1px #fff;
  }
  .sp-container h2.frame-5 span:nth-child(2) {
    -webkit-animation-delay: 13s;
    -moz-animation-delay: 13s;
    -ms-animation-delay: 13s;
    animation-delay: 13s;
  }
  .sp-container h2.frame-5 span:nth-child(3) {
    -webkit-animation-delay: 14s;
    -moz-animation-delay: 14s;
    -ms-animation-delay: 14s;
    animation-delay: 14s;
  }
  
  /**/
  
  @keyframes blurFadeInOut {
    0% {
      opacity: 0;
      text-shadow: 0px 0px 40px #fff;
      transform: scale(1.3);
    }
    20%, 75% {
      opacity: 1;
      text-shadow: 0px 0px 1px #fff;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      text-shadow: 0px 0px 50px #fff;
      transform: scale(0);
    }
  }
  @keyframes blurFadeIn {
    0% {
      opacity: 0;
      text-shadow: 0px 0px 40px #fff;
      transform: scale(1.3);
    }
    50% {
      opacity: 0.5;
      text-shadow: 0px 0px 10px #fff;
      transform: scale(1.1);
    }
    100% {
      opacity: 1;
      text-shadow: 0px 0px 1px #fff;
      transform: scale(1);
    }
  }
  @keyframes fadeInBack {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    50% {
      opacity: 0.4;
      transform: scale(2);
    }
    100% {
      opacity: 0.2;
      transform: scale(5);
    }
  }
  @keyframes fadeInRotate {
    0% {
      opacity: 0;
      transform: scale(0) rotate(360deg);
    }
    100% {
      opacity: 1;
      transform: scale(1) rotate(0deg);
    }
  }
  .hidden {
    display: none;
  }
/*end animation*/

#ready{
    color: #fff;    
    font-size: large;
    font-size: 70px;
}

#ready1{
    color: #fab907;
    font-weight:  bold;
    animation: textcolor 4s infinite; 
    
}
@keyframes textcolor {
    from {color: rgb(245, 68, 68);}
    to {color: #fff;}
}

#ready2{
    color: #fab907;
    font-weight:  bold;
    animation: textcolor1 4s infinite; 
    animation-delay: -4s;
    
}
@keyframes textcolor1 {
    from {color: rgb(255, 255, 255);}
    to {color: #3c07fa;}
}

#form-box{   
    padding:1%;
    position: absolute;
    left:25%;
}

.start{
    text-decoration: none;
    font-size: 30px;
    width: 200px;
    color: black;
    background-color:#fff;
    border: 2px solid #ff6810;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    transition: background-color 0.3s,border 0.2s, color 0.4s;    
    cursor: pointer;
    animation-name: animation;
    animation: animation 4s infinite;
    
}

.start:hover{
    background-color: #ff6810;
    color:#fff;
    cursor: pointer;
    font-size: 250%;
}


/* quiz */
#score{   
    display:inline-flex;
    justify-content:center;
}
#para{
    width: 70%;
    padding: 50px;
    margin-left: 15ex;
    text-align: center;
    background-color: rgb(173, 191, 230);
    margin-top: 20px;
    font-size: 20px;
}

#photo {
    width: 65ex;
    height:  40ex;
}

.quiz{
    margin: 30px;
    font-size: 1em;
    height: 90vh;
}

.back1 {
    padding-bottom: 40px;
    padding-right: 70px;
    color: white;
    border-radius: 2%;
    margin-left: 10ex;
    margin-right: 10ex;
    border-width: 5px;
    border-style: solid;
    border-color: #000000;
    background-color: #00000091;
}

#info{
    padding-top: 1ex;
    width: 172.5ex;
    height: 50px;
    border-radius: 3%;
    background-color: #000000;
}

#score{
    margin-left: 80px;
    float:left;
    width:100px;
    font-size: 25px;

}

#ques-left{
    width:60%;
    float:left;
    font-size:25px;

}
#timer{
    margin-left: 200px;

    font-size:25px;
}

.question{
    letter-spacing: .13em;
    margin-left: 50px;
    margin-top: -19px;
}

.choice{
    display:flex;
    padding-top: 3%;
}

.options input[type="radio"] {
    display: none; /* Hide the radio input */
}


.letter{
    padding: 20px;
    margin-top: 10px;
    margin-right: 15px;
    height: 10px;
    font-weight: bold;
}

#A{
    background-color: #fab907;
}
#B{
    background-color: #ff00aa;
}
#C{
    background-color: #043eff;
}
#D{
    background-color: #0bc659;
}

.options{
    cursor: pointer;
    color:black;
    padding: 10px;
    padding-bottom: 5px;
    display:inline-flex;
    margin-left: 4%;
    text-align: left;
    border-radius:9%;
    border-width: 5px;
    border-color: black;
    width: 25ex;  
    height: 75px;  
    background-color: #eee;
    font-size: 20px;
}

.options:hover{
    cursor: pointer;
    color: blue;
    font-weight: bold;
}
.options:hover label{
    cursor: pointer;
    color: blue;
    font-weight: bold;
}

.options label {
    height: 70px;
    width: 200px;
}

/* buttons */
.ans-btn{
    display:inline-block;
    margin-top: 30px;
}

.view-results, #restart, .submit-answer{
    font-size: 25px;
    height: 20px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    background-color: #eee;
    border: 4px solid black;
    padding: 20px;
    border-radius: 20px;
    transition: background-color 0.3s,border 0.2s, color 0.2s;
}
.submit-answer{
    margin-right: 60px;
}

.submit-answer:hover{
    background-color: #ff6810;
    padding: 27px;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;

}
.view-results:hover{
    background-color: #ff6810;
    padding: 27px;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
}

#restart:hover{
    background-color: #ff6810;
    padding: 16px;
    color:#fff;
    cursor: pointer;
    border-radius: 20px;   
}
/* both */
.quiz, .final-result{
    background-position: center;
    background-size:contain;
    text-align: center;
    height: 150vh;
    color: white;
}


/*Final Results*/
.back {
    border-radius: 4%;
    margin-top: 2%;
    border-radius: 4%;
    margin-left: 20ex;
    margin-right: 20ex;
    height: 80vh;
    border-width: 8px;
    border-style: solid;
    border-color: orange;
    box-shadow: 45px 40px rgb(241, 183, 74);
}

.final-result{
    background-size: contain;
    padding: 10px;
    font-size: 1.5em;
    height: 100vh;
}
.solved-ques-no{
    padding: 10px;
}

.right-wrong{
    padding: 10px;
}

#display-final-score{
    padding: 5%;
}
.remark{
    
    padding: 10px;
    margin-bottom: 5%;
    font-weight: bold;
    font-size: 30px;
}




@media only screen and (max-width: 1250px) {
    .body{
        align-items: center;
    }
    .choice{
        margin-right: 2500px;
        margin-bottom: 50px;
        height: 40vh;
        display: block;
    }
    #para{
        margin-left: 20px;
    }
    .options{
        width: 60ex;
        margin: 30px;
        padding-top: 30px;
    }
    .quiz{
        padding: 30px;
        height: 400px;
    }
    .back{
        margin-top: 100vh;
        margin-bottom: 100vh;
        height: 30vh;
    }

    #info{
        height: 90px;
        width: 109ex;
    }
    #score{
        margin-left: -1px;
    }

}

@media only screen and (max-width: 850px) {
    .body{
        align-items: center;
    }
    .choice{
        margin-right: 2500px;
        margin-bottom: 100px;
        height: 60vh;
        display: block;
    }
    .options{
        width: 60ex;
        margin: 15px;
        padding-top: 10px;
    }
    .quiz{
        padding: 30px;
        height: 100px;
    }
    .back{
        margin-top: 200vh;
        margin-bottom: 100vh;
        height: 80vh;
    }

    #info{
        height: 90px;
        width: 82ex;
    }
    #score{
        margin-left: -1px;
    }
}

@media only screen and (max-width: 650px) {
    .options{
        display: block;
        margin-top: 3%;

    }
}

@media only screen and (max-width: 550px) {
    .options{
        margin-top: 3%;

    }
    
    .ready{
        display: block;
        margin-top: 25px;
        margin-left: 0px;
    }

    .final-result{
        height: 900vh;
    }
}

@media (max-width: 750px) {
    #background-video { display: none; }
    body {
    top: 0%;
      background: url("image/Battle Pass Glitches.webm") no-repeat;
      background-size: cover;
    }
  }
